:root {
  --orange-dark: rgb(48, 48, 48);
  --dark: rgb(44, 44, 58);
}

::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(42, 11, 71);
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

/* Header Section */

header {
  text-transform: capitalize;
  background: url("../img/background.jpg") center/cover no-repeat;
  position: relative;
  z-index: 34093482309423;
  height: 100vh;
}

@media (max-width: 943px) {
  header {
    animation: none;
    background-size: cover;
  }
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.228);
  z-index: -1;
}

header * {
  color: white;
}

header .navbar {
  padding: 10px 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar > a > img {
  height: 80px;
  transition: 0.4s;
}

header .navbar > a > img:hover {
  scale: 1.1;
}

header .navbar ul {
  display: flex;
  gap: 50px;
}

header .navbar ul a {
  font-size: 16px;
  display: inline-block;
  transition: 0.4s;
}

header .navbar ul a:hover {
  color: var(--orange-dark);
  scale: 1.1;
  border-bottom: 1px solid var(--orange-dark);
}

header .content {
  padding: 11.5rem 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

header .content h1 {
  font-size: 40px;
}

header .content h1 span {
  color: var(--orange-dark);
}

header .content p {
  color: white;
}

header .content button {
  border: 1px solid var(--orange-dark);
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: capitalize;
  transition: 0.9s;
}

header .content button:hover {
  border-color: var(--orange-dark);
  color: var(--orange-dark);
  scale: 1.1;
}

/* Header Responsive */

@media (max-width: 793px) {
  header {
    padding: 0 3rem;
  }

  header .navbar {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 793px) {
  header .navbar ul {
    display: flex;
    gap: 20px;
  }
}

/* Section 2 */

.about {
  padding: 3rem 4rem;
}

.about * {
  color: var(--dark);
}

/* Utility Class */

.title {
  text-align: center;
  line-height: 2;
  margin-bottom: 3rem;
}

/* Close utility */

.about .title h2 {
  font-size: 40px;
}

.about .content {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.about .content .text {
  line-height: 1.5;
  width: 48%;
}

.about .content .text p {
  margin-bottom: 3rem;
}

.about .content .text button {
  border: 1px solid var(--dark);
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: var(--dark);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  text-transform: capitalize;
}

.about .content .text button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--dark);
}

.about .image {
  width: 40%;
}

.about img {
  width: 100%;
  border-radius: 10px;
}

/* About Responsive */

@media (max-width: 1120px) {
  .about .content {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .about .content .text {
    text-align: center;
    width: 100%;
  }

  .about .content .image {
    display: grid;
    place-content: center;
  }
}

@media (max-width: 656px) {
  .title * {
    margin-bottom: 1.5rem;
    line-height: 1;
  }

  .about .title h2 {
    font-size: 35px;
  }

  .about .content .image img {
    width: 300px;
  }
}

/* Offers Section */

.offers {
  padding: 3rem 4rem;
  background-image: url("../img/bg2.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  z-index: 86987896;
}
.offers::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: -1;
}
.offers img {
  border-radius: 50%;
}

.offers .title h2 {
  font-size: 40px;
  color: white;
}

.offers .title p {
  color: rgb(223, 220, 220);
}

.offers .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}

.offers .card {
  width: 380px;
}

.offers .card * {
  margin-bottom: 1rem;
}

.offers .card h3 {
  font-size: 30px;
  font-weight: bold;
}

.offers .card p {
  color: rgb(223, 220, 220);
}

.offers .card p + p {
  color: var(--orange-dark);
}

.offers .card p span {
  color: rgb(223, 220, 220);
  text-decoration: line-through;
}

.offers .card img {
  width: 200px;
  height: 200px;
  transition: 0.4s;
}

.offers .card img:hover {
  scale: 1.1;
}

/* Offers Responsive */

@media (max-width: 908px) {
  .offers .cards {
    gap: 50px;
  }
}

@media (max-width: 516px) {
  .offers .title h2 {
    font-size: 30px;
  }
  .offers .title p {
    font-size: 13px;
  }
}

/* Form Section */

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 8rem;
  /* height: 100vh; */
}

.form .addrees i {
  color: var(--orange-dark);
  margin-right: 10px;
}

.form .contact-details h2 {
  color: var(--dark);
  font-size: 30px;
  margin-bottom: 15px;
}

.form .contact-details > div {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form .contact-details .social-icons {
  display: flex;
  gap: 6px;
}

.form .contact-details .social-icons i {
  font-size: 23px;
  color: white;
  background-color: var(--dark);
  padding: 7px;
  border-radius: 50%;
}

/* contact-form */

.contact-form {
  width: 500px;

}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form form input,
.contact-form form textarea {
  background-color: rgb(221, 221, 221);
  font-size: 16px;
  border: 1px solid rgb(223, 223, 223);
}

.contact-form form input {
  width: 100%;
  height: 30px;
  padding: 20px;
  width: 100%;
}

.contact-form form textarea {
  height: 200px;
  padding: 20px;
}

.contact-form button {
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border: 1px solid var(--orange-dark);
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--orange-dark);
  border-radius: 8px;
  transition: 0.4s linear;
}

.contact-form button:hover {
  background-color: rgb(0, 0, 0, 0);
  color: var(--orange-dark);
}

@media (max-width: 1100px) {
  .form {
    flex-direction: column;
  }

  .form .contact-details {
    width: 100%;
    margin-bottom: 3rem;
  }

  .form .contact-form {
    width: 100%;
  }
}

@media (max-width: 715px) {
  .form {
    padding: 6rem 3rem;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
  background-color: rgb(26, 26, 26);
  color: white;

}

@media (max-width: 662px) {
  footer {
    flex-direction: column;
    gap: 30px;
  }
}
